*{
    margin: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: monospace;
}

.table{
    display: grid;
    grid-template-columns: repeat(18, 40px);
    grid-template-rows: repeat(9,40px);
    grid-gap: 5px;
}
.table div{
    border-radius: 5px;
    height: 35px;
}

#NoMetal{
    background-color: #00A89A;
}
#Scheloch{
    background-color: #EF591F;
}
#SchGround{
    background: orange;
}
#Transitive{
    background-color: #FCAC41;
}
#Lantanoid{
    background-color: #C69B69;
}
#Aktinoid{
    background-color: #A17B4E;
}
#Gas{
    background-color: #29A9E1;
}
#PolMetal{
    background-color: #38B44C;
}
#Posttrans{
    background-color: #8BC53E;
}
#greenyellow{
    background-color: #D7E021;
}
.box1{
    grid-column: 1/2;
    grid-row: 1/1;
}
.box2{
    grid-column: 1/2;
    grid-row: 2/2;
}
.box3{
    grid-column: 2/2;
    grid-row: 2/3;
}
.box4{
    grid-column: 1/2;
    grid-row: 3/3;
}
.box5{
    grid-column: 2/3;
    grid-row: 3/3;
}
.box6{
    grid-column: 1/2;
    grid-row: 4/4;
}
.box7{
    grid-column: 2/3;
    grid-row: 4/4;
}
.box8{
    grid-column: 3/4;
    grid-row: 4/4;
}
.box9{
    grid-column: 1/2;
    grid-row: 5/5;
}
.box10{
    grid-column: 2/3;
    grid-row: 5/5;
}
.box11{
    grid-column: 3/4;
    grid-row: 5/5;
}
.box12{
    grid-column: 1/2;
    grid-row: 6/6;
}
.box13{
    grid-column: 2/3;
    grid-row: 6/6;
}
.box14{
    grid-column: 3/4;
    grid-row: 6/6;
}
.box15{
    grid-column: 1/2;
    grid-row: 7/7;
}
.box16{
    grid-column: 2/3;
    grid-row: 7/7;
}
.box17{
    grid-column: 3/4;
    grid-row: 7/7;
}
.box18{
    grid-column: 18/18;
    grid-row: 1/1;
}
.box19{
    grid-column: 13/14;
    grid-row: 2/2;
}
.box20{
    grid-column: 14/15;
    grid-row: 2/2;
}
.box21{
    grid-column: 15/16;
    grid-row: 2/2;
}
.box22{
    grid-column: 16/17;
    grid-row: 2/2;
}
.box23{
    grid-column: 17/18;
    grid-row: 2/2;
}
.box24{
    grid-column: 18/18;
    grid-row: 2/2
}
.box25{
    grid-column: 13/14;
    grid-row: 3/3;
}
.box26{
    grid-column: 14/15;
    grid-row: 3/3;
}
.box27{
    grid-column: 15/16;
    grid-row: 3/3;
}
.box28{
    grid-column: 16/17;
    grid-row: 3/3;
}
.box29{
    grid-column: 17/18;
    grid-row: 3/3;
}
.box30{
    grid-column: 18/18;
    grid-row: 3/3;
}
.box31{
    grid-column: 4/5;
    grid-row: 4/4;
    grid-row-gap: 100px;
}
.box32{
    grid-column: 5/6;
    grid-row: 4/4;
}
.box33{
    grid-column: 6/7;
    grid-row: 4/4;
}
.box34{
    grid-column: 7/8;
    grid-row: 4/4;
}
.box35{
    grid-column: 8/9;
    grid-row: 4/4;
}
.box36{
    grid-column: 9/10;
    grid-row: 4/4;
}
.box37{
    grid-column: 10/11;
    grid-row: 4/4;
}
.box38{
    grid-column: 11/12;
    grid-row: 4/4;
}
.box39{
    grid-column: 12/13;
    grid-row: 4/4;
}
.box40{
    grid-column: 13/14;
    grid-row: 4/4
}
.box41{
    grid-column: 14/15;
    grid-row: 4/4;
}
.box42{
    grid-column: 15/16;
    grid-row: 4/4;
}
.box43{
    grid-column: 16/17;
    grid-row: 4/4;
}
.box44{
    grid-column: 17/18;
    grid-row: 4/4;
}
.box45{
    grid-column: 18/18;
    grid-row: 4/4;
}
.box46{
    grid-column: 4/5;
    grid-row: 5/5;
}
.box47{
    grid-column: 5/6;
    grid-row: 5/5;
}
.box48{
    grid-column: 6/7;
    grid-row: 5/5;
}
.box49{
    grid-column: 7/8;
    grid-row: 5/5;
}
.box50{
    grid-column: 8/9;
    grid-row: 5/5;
}
.box51{
    grid-column: 9/10;
    grid-row: 5/5;
}
.box52{
    grid-column: 10/11;
    grid-row: 5/5;
}
.box53{
    grid-column: 11/12;
    grid-row: 5/5;
}
.box54{
    grid-column: 12/13;
    grid-row: 5/5;
}
.box55{
    grid-column: 13/14;
    grid-row: 5/5;
}
.box56{
    grid-column: 14/15;
    grid-row: 5/5;
}
.box57{
    grid-column: 15/16;
    grid-row: 5/5;
}
.box58{
    grid-column: 16/17;
    grid-row: 5/5;
}
.box59{
    grid-column: 17/18;
    grid-row: 5/5;
}
.box60{
    grid-column: 18/18;
    grid-row: 5/5;
}
.box61{
    grid-column: 4/5;
    grid-row: 6/6;
}
.box62{
    grid-column: 5/6;
    grid-row: 6/6;
}
.box63{
    grid-column: 6/7;
    grid-row: 6/6;
}
.box64{
    grid-column: 7/8;
    grid-row: 6/6;
}
.box65{
    grid-column: 8/9;
    grid-row: 6/6;
}
.box66{
    grid-column: 9/10;
    grid-row: 6/6;
}
.box67{
    grid-column: 10/11;
    grid-row: 6/6;
}
.box68{
    grid-column: 11/12;
    grid-row: 6/6;
}
.box69{
    grid-column: 12/13;
    grid-row: 6/6;
}
.box70{
    grid-column: 13/14;
    grid-row: 6/6;
}
.box71{
    grid-column: 14/15;
    grid-row: 6/6;
}
.box72{
    grid-column: 15/16;
    grid-row: 6/6;
}
.box73{
    grid-column: 16/17;
    grid-row: 6/6;
}
.box74{
    grid-column: 17/18;
    grid-row: 6/6;
}
.box75{
    grid-column: 18/18;
    grid-row: 6/6;
}
.box76{
    grid-column: 4/5;
    grid-row: 7/7;
}
.box77{
    grid-column: 5/6;
    grid-row: 7/7;
}
.box78{
    grid-column: 6/7;
    grid-row: 7/7;
}
.box79{
    grid-column: 7/8;
    grid-row: 7/7;
}
.box80{
    grid-column: 8/9;
    grid-row: 7/7;
}
.box81{
    grid-column: 9/10;
    grid-row: 7/7;
}
.box82{
    grid-column: 10/11;
    grid-row: 7/7;
}
.box83{
    grid-column: 11/12;
    grid-row: 7/7;
}
.box84{
    grid-column: 12/13;
    grid-row: 7/7;
}
.box85{
    grid-column: 13/14;
    grid-row: 7/7;
}
.box86{
    grid-column: 14/15;
    grid-row: 7/7;
}
.box87{
    grid-column: 15/16;
    grid-row: 7/7;
}
.box88{
    grid-column: 16/17;
    grid-row: 7/7;
}
.box89{
    grid-column: 17/18;
    grid-row: 7/7;
}
.box90{
    grid-column: 18/18;
    grid-row: 7/7;
}
.box91{
    grid-column: 4/5;
    grid-row: 8/8;
}
.box92{
    grid-column: 5/6;
    grid-row: 8/8;
}
.box93{
    grid-column: 6/7;
    grid-row: 8/8;
}
.box94{
    grid-column: 7/8;
    grid-row: 8/8;
}
.box95{
    grid-column: 8/9;
    grid-row: 8/8;
}
.box96{
    grid-column: 9/10;
    grid-row: 8/8;
}
.box97{
    grid-column: 10/11;
    grid-row: 8/8;
}
.box98{
    grid-column: 11/12;
    grid-row: 8/8;
}
.box99{
    grid-column: 12/13;
    grid-row: 8/8;
}
.box100{
    grid-column: 13/14;
    grid-row: 8/8;
}
.box101{
    grid-column: 14/15;
    grid-row: 8/8;
}
.box102{
    grid-column: 15/16;
    grid-row: 8/8;
}
.box103{
    grid-column: 16/17;
    grid-row: 8/8;
}
.box104{
    grid-column: 17/18;
    grid-row: 8/8;
}
.box105{
    grid-column: 4/5;
    grid-row: 9/9;
}
.box106{
    grid-column: 5/6;
    grid-row: 9/9;
}
.box107{
    grid-column: 6/7;
    grid-row: 9/9;
}
.box108{
    grid-column: 7/8;
    grid-row: 9/9;
}
.box109{
    grid-column: 8/9;
    grid-row: 9/9;
}
.box110{
    grid-column: 9/10;
    grid-row: 9/9;
}
.box111{
    grid-column: 10/11;
    grid-row: 9/9;
}
.box112{
    grid-column: 11/12;
    grid-row: 9/9;
}
.box113{
    grid-column: 12/13;
    grid-row: 9/9;
}
.box114{
    grid-column: 13/14;
    grid-row: 9/9;
}
.box115{
    grid-column: 14/15;
    grid-row: 9/9;
}
.box116{
    grid-column: 15/16;
    grid-row: 9/9;
}
.box117{
    grid-column: 16/17;
    grid-row: 9/9;
}
.box118{
    grid-column: 17/18;
    grid-row: 9/9;
}















