*{
    margin: 0;
}
.form{
    background: #F4F4F4;
    width: 40%;
    height: 100%;
    padding: 10px;
    font-family: monospace;
}


.log {
    background: #CBDFE8;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}

.input{
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
    background: #E0E9EE;
    font-size: 25px;
}

label{
    grid-column: 1/2;
    margin-top: 10px;
}

input, button{
    border-radius: 5px;
    outline: 0;
    margin-top: 10px;
    border: 0;
}
input{
    grid-column: 2/4;
}

.button{
    grid-column: 2/3;
}

button{
    width: 40%;
    background: #378BAF;
    padding: 10px;
    color: white;
    font-family: monospace;
}
.button a{
    font-size: 10px;
}
.extra{
    display: grid;
    margin-top:50px;
}
.text2{
    grid-column: 2/4;
    text-align: right;
}
.text1{
    grid-column: 1/2;
}