*{
    margin: 0;
}
html {
    background-color: #124559;
    background-image: url(https://static.dezeen.com/uploads/2017/06/astana-expo-2017-paul-raftery-architecture-photography_dezeen_hero-1.jpg);
    background-size: cover;
    color: white;
    font-family: monospace;
    font-size: 40px;
}

#grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 40px 80px repeat(6, 1fr) 80px 40px;
    grid-template-rows: 50px 50px repeat(5, 1fr);
}
#grid div{
    outline-style: solid;
    outline-color:#124559;
    outline-width: 5px;
}
.left{
    grid-column: 1;
    grid-row: 2/8;
    background-color:rgba(64,67,78,0.4);
}
.right{
    grid-column: 10;
    grid-row: 2/8;
    background-color:rgba(64,67,78,0.4);
}
.top{
    grid-column:1/11;
    grid-row: 1;
    background: #124559;
}
.box1{
    grid-column: 2/3;
    grid-row: 2/8;
    background: #124559;
}
.box2{
    grid-column: 3/10;
    grid-row: 2;
    background: #124559;
}
.box3{
    grid-column: 9/10;
    grid-row: 2/8;
    background: #124559;
}
.box4{
    grid-column: 3/4;
    grid-row: 3/3;
    background: #124559;
}
.box5{
    grid-column: 4/7;
    grid-row: 3/3;
    background-color:rgba(64,67,78,0.4);
}
.box6{
    grid-column: 7/9;
    grid-row: 3/3;
    background: #124559;
    text-align: end;
}
.box7{
    grid-column: 3/4;
    grid-row: 4/4;
    background-color:rgba(64,67,78,0.4);
}
.box8{
    grid-column: 4/8;
    grid-row: 4/4;
    background: #124559;
    text-align: center;
    font-size: 70px;
}
.box9{
    grid-column: 8/9;
    grid-row: 4/4;
    background: #124559;
}
.box10{
    grid-column: 3/4;
    grid-row: 5/5;
    background-color:rgba(64,67,78,0.4);
}
.box11{
    grid-column: 4/6;
    grid-row: 5/5;
    background: #124559;
}
.box12{
    grid-column: 6/8;
    grid-row: 5/5;
    background-color:rgba(64,67,78,0.4);
}
.box13{
    grid-column: 8/10;
    grid-row: 5/5;
    background: #124559;
}
.box14{
    grid-column: 3/5;
    grid-row: 6/6;
    background: #124559;
}
.box15{
    grid-column: 5/6;
    grid-row: 6/6;
    background-color:rgba(64,67,78,0.4);
}
.box16{
    grid-column: 6/9;
    grid-row: 6/6;
    background: #124559;
}
.box17{
    grid-column: 3/6;
    grid-row: 7/7;
    background-color:rgba(64,67,78,0.4);
}
.box18{
    grid-column: 6/7;
    grid-row: 7/7;
    background-color:rgba(64,67,78,0.4);
}
.box19{
    grid-column: 7/9;
    grid-row: 7/7;
    background: #124559;
    font-size: 30px;
}























