.progress, .bar{
    position: relative;
    height: 20px;
    max-width: 300px;
}
.progress{
    background: #eee;
}
.bar{
    background: #cce0ff;
    width: 0;
    transition: 1s;
}
.text{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.input{
    margin-top: 20px;
}
button{
    background-color: darkred;
    color: #ffffff;
    outline: none;
    border: 0;
    font-size: 20px;
    width: 100px;
}