body{
    background: url('https://i.pinimg.com/originals/cd/32/70/cd32709bb199e65c424444394208325b.jpg') no-repeat;
    -moz-backrground-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-attachment: fixed;
}
.round {
    border-radius: 1000px;
    border: 1px solid black;
    box-shadow: 0 0 1px grey;
}
#img1{
    width:300px;
    height:300px;
}
#img2{
    width: 300px;
    height: 300px;
    margin-left:1010px;
}
.p1{
    background-color:black;
    color: grey;
    width: 600px;
    height: 200px;
    margin-left:350px;
    margin-top:-250px;
}
.p2{
    background-color: grey;
    color: black;
    width: 600px;
    height: 200px;
    margin-top:-250px;
    margin-left:350px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}