body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
body{
    background-color: black;
}

input[type=text], select, textarea {
    width:100%;
    height:0%;
    padding: 12px;
    border: 1px solid gold;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color:gray;
    color:black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:gold;
}

.container {
    width:500px;
    height:450px;
    border-radius: 5px;
    background-color:gray;
    padding: 20px;
} ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}