body{
    background: url("https://maincream.com/upload/old/2d57d91b.jpeg") no-repeat;
    -moz-backrground-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-attachment: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.newspaper {
    column-count: 3;
    column-gap:200px;
    column-rule-style: solid;
    column-rule-width:10px;
    background-color:black;
    color:white;
    margin-top:10px;
}
.img4{
    width: 200px;
    height: 300px;
}
.img5{
    width:200px;
    height:300px;
}
.img6{
    width: 200px;
    height: 300px;
}
.p4{
    font-size: 15px;
    color: wheat;
}
.p5{
    font-size: 15px;
    color: grey;
}
.p6{
    font-size: 15px;
    color: wheat;
}