body{
    background: url("https://i.pinimg.com/originals/56/09/92/5609923dc17ddf3ca2567c632ad834ad.jpg") no-repeat;
    -moz-backrground-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-attachment: fixed;
}
h1{
    animation-duration: 7s;
    animation-name: animation;
    animation-iteration-count: infinite;
    margin-top:10px;
    margin-left: -50px;
    text-align: center;
    color: black;
}
@keyframes animation {
    from {
        background-color:gray;
        margin-left:60%;
    }
    to {
        background-color:teal;
        margin-left:0%;
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height:500px;
    font-size:500px;
}
.img1{
    width: 400px;
    height: 500px;
}
h3{
    background-color:rgb(70, 67, 67);
    color: black;
    margin-top: 15px;

}
* {
    margin: 0;
    padding: 0;
}
.content {
    min-height: calc(50vh - 50px);
}
.form1{
    width: 400px;
    height: 200px;
    background-color: grey;
}
.insta{
    margin-top:250px;
}
.mail{
    margin-top: 250px;
}
.wp{
    margin-top: 250px;
}
.wrapper{
    margin-top:-200px;
}
.img2{
    width:100px;
    height:100px;
    margin-left: 20px;
}
.img3{
    width:50px;
    height:50px;
}