body{
    background: url('https://s.yimg.com/uu/api/res/1.2/HXxH1.gk6xqbjeIpHJNvkQ--~B/aD05NjA7dz0xNDQwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/cd/resizer/2.0/FIT_TO_WIDTH-w1440/d7d9df88c3d2205c9377918f4ac8a9395e1271dd.gif') no-repeat;
    -moz-backrground-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-attachment: fixed;
}
.img1{
    width:100px;
    height:70px;
    margin-right:50px;
}
.img2{
    width:50px;
    height:50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.container {
    position: relative;
    width: auto;
    margin: 5px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size:10px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text h2{
    text-align: center;
    padding: 0;
    margin: 0;

}
.outer{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2,auto);
}
.bt1{
    display: inline-block;
    width:40%;
    margin-left: 100px;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    text-decoration: none;
    background-color: #333;
    margin-right: 140px;
    color:gray;
}
#bt2{
    background-color: gray;
    color: black;
}
.ft{
    background-color: gray;
    color: black;
}
.ul2{
    font-size: 20px;
}
.fm1{
    background-color:#333;
    color: black;
    width: 400px;
    height: 350px;
}
tr{
    width: 200px;
    height: 100px;
}