h1{
    text-align: center;
    color:teal;
    background-color: black;
}
body{
    background: url('https://ulanovka.ru/uploads/old_images/users/18361/matrux_final.jpg') no-repeat;
    -moz-backrground-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-attachment: fixed;
}
h3{
    background-color:teal;
    color:black;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}