body{
    background: url('https://s.yimg.com/uu/api/res/1.2/HXxH1.gk6xqbjeIpHJNvkQ--~B/aD05NjA7dz0xNDQwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/cd/resizer/2.0/FIT_TO_WIDTH-w1440/d7d9df88c3d2205c9377918f4ac8a9395e1271dd.gif') no-repeat;
    -moz-backrground-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-attachment: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.A1{
    font-size:20px;
    color: black;
}
.A2{
    width: 200px;
    height: 20px;
}
.A3{
    width: 100px;
    height: 30px;
    background-color: wheat;
}
.A4{
    width: 100px;
    height: 30px;
    margin-left: 5px;
    background-color: wheat;
}
.A5{
    font-size:10px;
    color: black;
}
.A6{
    background-color:wheat;
    width: 400px;
    height: 650px;
    margin-left:30px;
    text-align: center;
}