body {
    margin: 0;
    color: white;
}

nav {
    background-color: black;
    width: 100%;
    height: 50px;
    display: inline-flex;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px;
    float: left;
}

li:hover{
    background-color: red;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 45px;
}

.content li {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .content{
    display: table;
}

.dropdown {
    float: left;
}