1 {
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    background-size: cover;
    color: white;
}

.wrapper{
    margin: 15% auto;
    width: 500px;
}

.form    {
    display: flex;
    background-color:floralwhite;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.details-area{
    flex: 1;
    order: 1;
    margin-right: 40px;
}

.details-area input{
    width: 100%;
    background: transparent;
    color: black;
    border-radius: 10px;
}

.details-area input,
.details-area button{
    padding: 10px;
}

button{
    background: blanchedalmond;
    border: 0;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 10px;
}

label{
    color: black;
    text-transform: uppercase;
    line-height: 40px;
    font-family: Impact;
}