.container {
    border: 10px solid orange;
    padding: 50px;
    display: flex;
    flex-direction: column  ;
}

.chat, .chat2{
    padding: 20px;
    border: 10px solid #79ABBE;
    font-size: 200%;
    flex: 1;
    margin: 10px;
    color: #506A76;
}

.a {
    flex: 3;
    float: left;
    margin: 0px 25px;
}
.chat i {
    flex: 1;
    float: left;
    width: auto;
}

.chat2{
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
}