body {
    width: 80%;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}
#fixed {
    position: fixed;
    background-color: #2c3e50;
    color: white;
    width: 85%;
}
header {
    z-index: 1;
    display: flex;
    width: 50%;
}
.b {
    color: white;
}
.b:hover {
    text-decoration: none;
}
section {
    margin-top: 5rem;
}
.section {
    font-family: cursive;
    color: grey;
}
.ZAK {
    color: white;
    font-style: oblique;
}
.ZAK1 {
    color: black;
    font-size: 2.5rem;
    border-bottom: 2px solid black;
}
.i {
    font-size: 1rem;
    font-family: cursive;
}
@media all {
    header {
        display: inline-block;
        width: 100%;
    }
    h1 {
        font-size: 1rem;
    }
}
.Director {
    background-color: black;
    text-decoration: underline;
    color: white;
}
#border {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
.a {
    padding-bottom: 0.5rem;
    padding-top:0.5rem;
    padding-left:1rem;
    border:2px solid black;
    margin: 1rem;
    width: 65%;

}
.c {
    color: black;
    text-decoration: none;
}
.a:hover {
    background-color: black;
}
.c:hover {
    color: white;
    text-decoration: none;
}
.position-absolute {
    width: 300%;
    position: absolute;
    top: 60%;
    font-family:"Californian FB";
    display: flex;
}
#img {
    display: block;
}
.asphixia {
    font-size: 0.9rem;
    padding-left: 10%;
}
.both {
    font-size: 1.5rem;
    color: black;
}
.small {
    font-size: 0.5rem;
    padding-left: 35%;
}
.abzac{
    padding-left: 50%;
}
.author {
    padding-left: 50%;
}
#maindiv{
    width: 100%;
}
#zaki {
    width: 100%;
    background-color: rgb(223,229,229);

}
.zeki {
    font-size: 8rem;
    color: white;
    font-stretch: ultra-condensed;
    margin-left: 5%;
}
#preend {
    width: 100%;

}
.preroles {
    font-size: 3.5rem;
    color: rgb(110,109,115);
}
.roles {
    border-bottom: 2px solid rgb(110,109,115);
}
#div,#div2,#div3,#div4,#div5,#div6,#div7 {
    border-bottom: 1px  solid rgb(110,109,115);
    margin-top: 2rem;
}
.grey {
    font-size: 0.5rem;
    color: grey;
}
